@import url("primitives.css");

:root{
    --text-default: var(--colors-neutrals-black-300);
    --text-subinfo: var(--colors-neutrals-grey-500);
    --text-subtitle: var(--colors-neutrals-grey-600);
    --text-onprimary: var(--colors-neutrals-white-100);
    --text-onproject1: var(--colors-neutrals-grey-800);
    --text-onproject1-subtitle: var(--colors-neutrals-grey-700);

    --icon-default: var(--colors-neutrals-black-400);
    --icon-subinfo: var(--colors-neutrals-grey-500);
    --icon-additional-lowemphasis: var(--colors-neutrals-grey-200);
    --icon-additional-mediumemphasis: var(--colors-neutrals-grey-400);
    
    --surface-bg-default: var(--colors-neutrals-white-100);
    --surface-bg-alternation: var(--colors-neutrals-white-300);
    --surface-primary: var(--colors-neutrals-black-500);
    --surface-primary-hover: var(--colors-neutrals-black-300);
    --surface-primary-pressed: var(--colors-neutrals-black-200);
    --surface-primary-focused: var(--colors-neutrals-black-500);
    --surface-secondary-default: var(--colors-neutrals-grey-100);
    --surface-secondary-hover: var(--colors-neutrals-grey-200);
    --surface-secondary-pressed: var(--colors-neutrals-grey-300);
    --tertiary-default: transparent;
    --tertiary-hover: var(--colors-transparency-black-400-10);
    --tertiary-pressed: var(--colors-transparency-black-400-15);
    --surface-table-default: var(--colors-neutrals-white-100);
    --surface-table-alternation: var(--colors-neutrals-white-200);
    --surface-divider: var(--colors-neutrals-grey-300);
    --surface-project1-start: var(--colors-blue-200);
    --surface-project1-end: var(--colors-blue-100);
    --surface-project2-start: var(--colors-green-200);
    --surface-project2-end: var(--colors-green-100);

    --border-secondary-default: var(--colors-neutrals-grey-300);
    --border-focused: var(--colors-blue-300);
    --border-project1-focused: var(--colors-orange-100);
    --border-project2-focused: var(--colors-purple-100);
    --border-selected: var(--colors-neutrals-black-500);
    --border-table-default: var(--colors-neutrals-grey-200);
    --border-table-start-ende: var(--colors-neutrals-grey-400);
}

