.about{
  width: 100%;
}

.about-Content{
    background-color: var(--surface-bg-alternation);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 96px;
    padding: 40px 128px 40px 128px;
    width: 100%;
  }

  .about-Intro{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    width: 100%;
    max-width: 1200px;
  }

  .about-text{
    display: flex;
    flex-direction: column;
    gap: 16px;

  }

  .Paragraphs{
    display: flex;
    flex-direction: column;
    gap: 8px;

    p{
        max-width: 800px;
    }
  }

