@import url("../resources/colorTokens.css");

.carousel-dots-container{
    width: 100%;
    padding: 8px 0;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.carousel--dot{
    width: 12px;
    height: 12px;
    border: none;
    background-color: var(--surface-secondary-default);
    border: 1px solid var(--border-secondary-default);
    border-radius: 12px;
    cursor: pointer;
}

.carousel--dot:hover{
    background-color: var(--surface-secondary-hover);
}

.carousel--dot:active{
    background-color: var(--surface-secondary-pressed);
}

.carousel--dot:focus-visible{
    border: 2px solid var(--border-focused);
    outline: none;
}

.carousel--dot--active{
    width: 16px;
    height: 16px;
    border: none;
    background: linear-gradient(90deg, var(--surface-project1-start), var(--surface-project1-end));
    border-radius: 16px;
    cursor: pointer;
}

.carousel--dot--active:focus-visible{
    border: 2px solid var(--border-project1-focused);
    outline: none;
}

.carousel--image{
    max-width: 100%;
    height: auto;
    
}

.carousl--imageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}



