@import url("../resources/colorTokens.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    padding: 0 32px;
    width: 100%;
    
}

.logo{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.logo:focus-visible{
    border: 2px solid var(--border-focused);
    border-radius: 4px;
    outline: none;
}

.links{
    display: flex;
    gap: 16px;
    
}

.navItem{
    width: 100px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-default);
    padding: 4px;
}

.navItem:hover .itemWrapper{
    background-color: var(--surface-hover);
}

.navItem:active .itemWrapper{
    background-color: var(--surface-pressed);
    
}

.navItem:focus-visible {
    border: 2px solid var(--border-focused);
    border-radius: 4px;
    outline: none;
    padding: 2px;
}

.selected .itemWrapper{
    border-top: 4px solid var(--border-selected);
}

.itemWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}