@import url("../resources/typographieTokens.css");
@import url("../resources/colorTokens.css");

*{
    font-family: 'Lato', 'Roboto', sans-serif;
}

h1{
    font-weight: bold;
    font-size: var(--font-size-xxlarge);
}

h2{
    font-size: 2rem;
    font-weight: 700;
}

h3{
    font-size: 24px;
    font-weight: 400;
    color: var(--text-subtitle);
}

h4{
    font-size: 20px;
    color: var(--text-default);
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--text-default);
}

.Subinfo{
    font-weight: 400;
    font-size: var(--font-size-small);
}

.ProjectTitle{
    font-weight: bold;
    font-size: var( --font-size-large);
    line-height: var(--line-height-large);
}

.ImgTitle{
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}

.SubTitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}