@import url("../resources/typographieTokens.css");
@import url("../resources/colorTokens.css");

*{
    font-family: 'Lato', 'Roboto', sans-serif;
}

h1{
    font-weight: bold;
    font-size: var(--font-size-xxlarge);
    color: var(--text-default);
}

h2{
    font-size: 2rem;
    font-weight: 700;
}

h3{
    font-size: 24px;
    font-weight: 400;
    color: var(--text-subtitle);
}

h4{
    font-size: 20px;
    color: var(--text-default);
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--text-default);
}

ol li{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--text-default);
    margin-left: 24px;
    margin-bottom: 8px;
}

ol li:last-child{
    margin-bottom: 0;
}

.Subinfo{
    font-weight: 400;
    font-size: var(--font-size-small);
}

.Title{
    font-family: "Poetsen One", serif;
    font-style: normal;
}

.Subinfo-h1 {
    font-weight: 400;
    font-size: var(--font-size-xlarge);
    color: var(--text-accent);
    font-family: "Poetsen One", serif;
    font-style: normal;
  }

.ProjectTitle{
    font-weight: bold;
    font-size: var( --font-size-large);
    line-height: var(--line-height-large);
}

.ImgTitle{
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}

.SubTitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.footer-link{
    font-size: 16px;
    color: var(--text-default);
    text-decoration: underline;
    font-weight: 400;
    line-height: 24px;
}


@media only screen and (max-width: 800px) {

    h1{
        font-size: 40px;
    }
  }